@CHARSET "UTF-8";
@font-face {
    font-family:'NanumGothic';
    src: url('../assets/fonts/NanumGothic.eot');
    src: url('../assets/fonts/NanumGothic.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/NanumGothic.woff') format('woff'),
         url('../assets/fonts/NanumGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
	color: rgb(97, 117, 107);
	 font-family: 'NanumGothic'; 
}

