 @(message: String)

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>크리스천</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<!-- Le styles -->
<link href="../assets/css/bootstrap.css" rel="stylesheet">
<link href="../assets/css/font-awesome.css" rel="stylesheet">
<link href="../assets/css/font-awesome.min.css" rel="stylesheet">
<link href="../assets/css/home.css" rel="stylesheet">

<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="../assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="../assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="../assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed"
	href="../assets/ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="../assets/ico/thankdiary.png">

<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/jquery.form.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>

<style type="text/css">

body{
	background-color: #DCF4EF;
	/* background-image: url("../assets/Img/today_qt_backgroud.jpg"); */
}

</style>
</head>
<body>
	<div class="top">
		<ul class="top_menu">
			<li style="margin-top: -10px; margin-right: 40px; margin-left: 60px;">
				<a href="/christian"><img src="../assets/Img/logo_white.png"
					width="120px;" style="cursor: pointer;"></a>
			</li>
			<li><a href="/home">나의일기</a></li>
			<li><a href="/opendiary">공개일기</a></li>
			<li><a href="/christian">크리스천</a></li>
			<li><a href="/today_qt" style="color: white;">오늘QT</a></li>
			<li><a href="#">자유나눔</a></li>
			<li
				style="position: absolute; padding: 0; margin-top: -30px; right: 0; margin-right: 20px;">
				<div
					style="background-color: rgb(18, 138, 120); width: 55px; height: 60px; padding: 10px; display: inline-block;">
					<img src=""
						style="cursor: pointer; width: 55px; height: 55px; border-radius: 5px;"
						name="user_profile" />
				</div> <span class="nickname"
				style="color: rgb(18, 138, 120); margin-right: 15px;"> <a
					href="/home">서울청년</a></span> <a id="control-box" href="#"
				style="text-decoration: none;"> <img
					src="../assets/Img/logout.png" style="width: 50px;">
			</a>
			</li>
		</ul>
	</div>


	<div class="container" style="width: 1500px; position: relative; background-color :transparent; ">
		<div style="float: left; position: fixed; top: 120px; border: 6px solid #fff;">
			<div style="width: 1400px; height: 700px;">
				<div style="width: 300px; float: left; margin-left: 50px; margin-right: 100px;">
					<div style="margin-bottom: 30px;">
					 	<img src="../assets/Img/today_qt_banner.png" style="width: 300px;">
					</div>
					<div style="margin-left: 30px; color: #82D1D5;">
					<TABLE>
						<TR height="35px;">
							<TD style="width: 70px; font-size: 22px;">날  짜 :</TD>
							<TD style="color: #4D4D4F">2014. 8. 18</TD>
						</TR>
						<TR height="35px;">
							<TD style="width: 70px; font-size: 22px;">구  분 :</TD>
							<TD style="color: #4D4D4F">생명의 삶</TD>
						</TR>

					</TABLE>
					</div>
				</div>
				<div style="padding: 48px;">
				<div style="">
					<TABLE>
							<TR height="45px;">
								<TD><img src="../assets/Img/today_qt_word.png"
									style="width: 30px;"></TD>
								<TD style="width: 300px; font-size: 40px;">성경본문</TD>
							</TR>
							<TR height="100px">
								<TD style="width: 45px;"></TD>
								<TD style="font-size: 20px;">"그러므로 내가 이 일을 마치고 이 열매를 그들에게 확증한 후에 너희를 거쳐 스페인으로 가리라. 내가 너희에게 갈 때에 그리스도의 복음의 충만한 복으로 갈 것을 확신하노라."(롬 15:28-29,한글킹제임스)</TD>
							</TR>
							<TR height="45px;">
								<td><img src="../assets/Img/today_qt_body.png"
									style="width: 45px;"></td>
								<TD style="width: 300px; font-size: 40px;">본문해설</TD>
							</TR>
							<TR height="250px;">
								<TD style="width: 45px;"></TD>
								<TD style="width: 70px; font-size: 20px;">수년 전에 오늘의 본문 구절에 나온 사도 바울의 말을 공부하면서, 나는 사람이 그리스도의 복음의 충만한 복 가운데 걸을 수 있다는 말씀은, 바울과 다른 사도들만이 아니라 우리 모든 그리스도인을 위한 것이었습니다. 이것이 무슨 뜻입니까? 즉 그리스도 안에 있는 당신의 충만한 유업 가운데 걷는다는 뜻입니다.
사도 바울이 담대하게 "내게 능력 주시는 자 안에서 내가 모든 것을 할 수 있느니라"라고 말한 것은 당연합니다(빌 4:13). 또한 갈라디아서 2:20-21에서 바울은 "내가 그리스도와 함께 십자가에 목 박혔나니 그런즉 이제는 내가 사는 것이 아니요 오직 내 안에 있는 그리스도께서 사시는 것이라 이제 육체 가운데 사는 것은 나를 사랑하사 나를 위하여 자기 자신을 버리신 하나님의 아들을 믿는 믿음 안에서 사는 것이라 내가 하나님의 은혜를 폐하지 아니하노니..."라고 말했습니다.</TD>
							</TR>
							
							<TR height="45px;">
								<td><img src="../assets/Img/today_qt_apt.png"
									style="width: 45px;"></td>
								<TD style="width: 300px; font-size: 40px;">적용및기도</TD>
							</TR>
							<TR>
								<TD style="width: 45px;"></TD>
								<TD style="width: 70px; font-size: 20px;">사랑하는 하늘의 아버지, 오늘 제게 아버지의 말씀에 대한 계시를 주셔서 감사합니다. 저는 그리스도의 복음의 충만한 복 가운데 걸으며, 그리스도 안에 있는 제 유업의 영광 안에서 걷습니다. 제 안에 더 크신 분이 사시므로 저는 이기는 자입니다. 아멘.</TD>
							</TR>


						</TABLE>
				</div>
				</div>
			</div>
			
		</div>
	</div>

</body>
</html>